body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}


/* .Background,
.window,
.container,
.info
 { 
    animation-duration: 3s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        background-color: black;
        color: black;
        border-color: black;
        filter: brightness(0.25);
    }

    to {}

    75% {}
} */



.content {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}


.Background {

    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: -1;
}

.header {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(255, 255, 255);
    /* border-radius: 0 0 5vw 5vw; */

}

.window {
    width: 100vw;
}

.footer {
    border-radius: 5vw 5vw 0 0;
    width: 100vw;
    background-color: rgb(255, 255, 255);
}

.back {
    /* border-radius: 0 0 0 5vw; */
    background-color: rgb(255, 255, 255);
    color: #0189EC;
    border: none;
    font-size: 2.5vh;
    font-weight: 600;
}

.back:focus {
    color: black;
    /* background-color: rgb(220, 220, 220); */
}

.text {
    background-color: rgb(255, 255, 255);
    border: none;
    color: #0189EC;
    text-align: center;
    font-size: 2.5vh;
    font-weight: 600;
}

.pass {
    background-color: rgb(255, 255, 255);
    border: none;
    /* border-radius:0 0 5vw 0; */
}

.container {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: 9vh auto 15.6vh;
}

.target {
    display: block;
    /* background-color: #89C5EF; */



    height: 75vw;
    width: 75vw;
    max-height: 71.4vh;
    max-width: 71.4vh;
    margin-top: calc((100vh - 80vw)/2 - 10vh);
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

.info {
    margin-top: 1vh;
    /* color: #0189EC; */
    color: #ffffff;
    /* background-color: rgb(255, 255, 255); */
    text-align: center;
    font-size: 2.5vh;
    font-weight: 600;
    /* background-color: #ededed6f; */
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.targetIMG {
    height: 75vw;
    width: 75vw;
}

@media (orientation: landscape) {
    .targetIMG {
        height: 70vh;
        width: 70vh;
    }

    .target {
        height: 70vh;
        width: 70vh;
        max-height: 71.5vh;
        max-width: 71.5vh;
        margin-top: calc(2.5vh);

    }

    .info {
        display: none;
    }

}

.btn {
    margin-top: 5vh;
    border-radius: 1vh;
    padding: 1.3vh;
    display: block;
    border: none;
    /* border: solid 1vh #89C5EF; */
    background: #ffffff;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #0189EC;
    max-width: 71vw;
    font-size: 2.5vh;
    font-weight: 600;

    /* background-color: #89C5EF; */
    /* color: #ffffff; */

}

.btn:focus {
    color: black;
}

.Left {
    margin-left: -5vw;
    margin-top: -0.8vh;
    position: absolute;
    height: 4vh;
}

.Right {
    margin-left: 5px;
    margin-top: -0.6vh;
    position: absolute;
    height: 4vh;
}
